<%= form_for @article || :article, url: { action: action }, html: { class: "nifty_form" } do |f| %>
	<div class="card">
		<div class="card-body">
			<div class="form-group mb-3">
				<%= f.label :title, "標題:", class: "col-md-4 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :title, class: "form-control" %>
				</div>
			</div>
			
			<div class="form-group mb-3">
				<%= f.label :content, "內文:", class: "col-md-4 control-label" %>
				<div class="col-md-8">
					<%= f.text_area :content, class: "form-control", size: "60x12" %>
				</div>
			</div>
			
			<div class="form-group mb-3">
				<%= f.label :content, "Blog:", class: "col-md-4 control-label" %>
				<div class="col-md-8">
					<%= current_user.blogs.exists? ?
						    f.select(:blog_id, options_for_select(current_user.blogs.map { [_1.name, _1.id] }, @article&.blog_id), {}, class: "form-control" ) :
					      link_to("Please create at least a blog before creating/updating an article", blogs_path, class: "btn btn-primary")
					%>
				</div>
			</div>
			
			<div class="form-group">
				<%= f.submit "送出", class: "btn btn-primary" %>
				<%= link_to "回首頁", articles_path, class: "btn btn-warning" %>
			</div>
		</div>
	</div>
<% end %>