<div data-controller="articles">
	<table class="table data-table" id="articles-table">
		<thead>
			<tr>
				<td>標題</td>
				<td>Blog</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
	    <% articles.each do |article| %>
				<tr>
					<td><%= article.title %></td>
					<td><%= article.blog.title %></td>
					<td>
						<%= link_to "編輯", edit_article_path(article), class: "btn btn-secondary btn-sm" %>
						<%= link_to "刪除", article_path(article), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "確定要刪除這筆資料嗎?" } %>
					</td>
				</tr>
	    <% end %>
		</tbody>
	</table>
	
	<%= link_to "新增", new_article_path, class: "btn btn-primary" %>
</div>